prefix.json
[{ "id": "320b4763bc5ebfc8", "type": "tab", "label": "prefix", "disabled": false, "info": "", "env": [] }, { "id": "1cb51726d9d22cc1", "type": "inject", "z": "320b4763bc5ebfc8", "name": "File Creation (no payload)", "props": [], "repeat": "", "crontab": "", "once": false, "onceDelay": "1", "topic": "", "x": 230, "y": 160, "wires": [
        ["88c743b86d404ff3"]
    ] }, { "id": "88c743b86d404ff3", "type": "exec", "z": "320b4763bc5ebfc8", "command": "grep '^\\s*0x' /config/raw.txt | uniq > devices.txt", "addpay": "", "append": "", "useSpawn": "false", "timer": "", "winHide": false, "oldrc": false, "name": "", "x": 560, "y": 160, "wires": [
        [],
        [],
        []
    ] }, { "id": "2962b4db61697d4a", "type": "template", "z": "320b4763bc5ebfc8", "name": "Rename device", "field": "payload", "fieldType": "msg", "format": "handlebars", "syntax": "mustache", "template": "{\"from\": \"{{payload}}\", \"to\": \"GF Male Entrance {{payload}}\",\"homeassistant_rename\":false}", "output": "json", "x": 660, "y": 460, "wires": [
        ["00289727fe9d7e28", "c9d4267e45a8f70d"]
    ] }, { "id": "054fdca41686863d", "type": "file in", "z": "320b4763bc5ebfc8", "name": "", "filename": "/config/devices.txt", "filenameType": "str", "format": "lines", "chunk": false, "sendError": false, "encoding": "none", "allProps": false, "x": 410, "y": 460, "wires": [
        ["2962b4db61697d4a"]
    ] }, { "id": "6cbfd5d8eca0c0c4", "type": "inject", "z": "320b4763bc5ebfc8", "name": "Add prefix (double click here)", "props": [{ "p": "groupname", "v": "PUT GROUP NAME HERE", "vt": "str" }], "repeat": "", "crontab": "", "once": false, "onceDelay": "1", "topic": "", "x": 240, "y": 400, "wires": [
        ["054fdca41686863d"]
    ] }, { "id": "e2cad60d2b934a35", "type": "comment", "z": "320b4763bc5ebfc8", "name": "Step 1: open Zigbee2MQTT web UI -> search to see only the targeted devices  -> then just select all (cmd + C) -> past it AS-IS in /config/raw.txt", "info": "", "x": 580, "y": 60, "wires": [] }, { "id": "51ab7b793f0e4dad", "type": "comment", "z": "320b4763bc5ebfc8", "name": "Step 2: click on File Creation", "info": "", "x": 220, "y": 120, "wires": [] }, { "id": "00289727fe9d7e28", "type": "debug", "z": "320b4763bc5ebfc8", "name": "debug", "active": false, "tosidebar": true, "console": false, "tostatus": true, "complete": "payload", "targetType": "msg", "statusVal": "", "statusType": "counter", "x": 830, "y": 520, "wires": [] }, { "id": "3769502cdb3760f1", "type": "comment", "z": "320b4763bc5ebfc8", "name": "Step 4: Inject the group name in msg.groupname", "info": "", "x": 280, "y": 360, "wires": [] }, { "id": "b9aa301d31fa93a2", "type": "comment", "z": "320b4763bc5ebfc8", "name": "Renaming devices with the group name as a prefex", "info": "", "x": 290, "y": 330, "wires": [] }, { "id": "24226e9f90844201", "type": "comment", "z": "320b4763bc5ebfc8", "name": "Step 3: Edit MQTT broker details (if needed)", "info": "", "x": 270, "y": 220, "wires": [] }, { "id": "6e983f94ad20ebe8", "type": "mqtt out", "z": "320b4763bc5ebfc8", "name": "", "topic": "zigbee2mqtt/bridge/request/device/rename", "qos": "", "retain": "", "respTopic": "", "contentType": "", "userProps": "", "correl": "", "expiry": "", "broker": "058c53f612152f0a", "x": 272.5, "y": 252.5, "wires": [] }, { "id": "c9d4267e45a8f70d", "type": "link out", "z": "320b4763bc5ebfc8", "name": "link out 2", "mode": "link", "links": ["da1ea3b7150d85b3"], "x": 795, "y": 460, "wires": [] }, { "id": "da1ea3b7150d85b3", "type": "link in", "z": "320b4763bc5ebfc8", "name": "link in 2", "links": ["c9d4267e45a8f70d"], "x": 65, "y": 280, "wires": [
        ["6e983f94ad20ebe8"]
    ] }, { "id": "058c53f612152f0a", "type": "mqtt-broker", "name": "", "broker": "core-mosquitto", "port": "1883", "clientid": "", "autoConnect": true, "usetls": false, "protocolVersion": "5", "keepalive": "60", "cleansession": true, "birthTopic": "", "birthQos": "0", "birthRetain": "false", "birthPayload": "", "birthMsg": {}, "closeTopic": "", "closeQos": "0", "closeRetain": "false", "closePayload": "", "closeMsg": {}, "willTopic": "", "willQos": "0", "willRetain": "false", "willPayload": "", "willMsg": {}, "userProps": "", "sessionExpiry": "" }]