regrouping.json
[{ "id": "a7ca514d4cb91994", "type": "tab", "label": "regrouping", "disabled": false, "info": "", "env": [] }, { "id": "cecadd77f7c9c7c7", "type": "inject", "z": "a7ca514d4cb91994", "name": "File Creation (no payload)", "props": [], "repeat": "", "crontab": "", "once": false, "onceDelay": "1", "topic": "", "x": 230, "y": 160, "wires": [
        ["827c3a9d7fd677a2"]
    ] }, { "id": "d88cf36ac0c5f975", "type": "mqtt out", "z": "a7ca514d4cb91994", "name": "", "topic": "zigbee2mqtt/bridge/request/group/members/add", "qos": "", "retain": "", "respTopic": "", "contentType": "", "userProps": "", "correl": "", "expiry": "", "broker": "058c53f612152f0a", "x": 290, "y": 260, "wires": [] }, { "id": "8834b7973bb17702", "type": "template", "z": "a7ca514d4cb91994", "name": "add device to a group", "field": "payload", "fieldType": "msg", "format": "handlebars", "syntax": "mustache", "template": "{\"group\": \"GROUP NAME\", \"device\": \"{{payload}}\"}", "output": "json", "x": 600, "y": 460, "wires": [
        ["fbaa065bcc33a66d", "87328752fe792455"]
    ] }, { "id": "827c3a9d7fd677a2", "type": "exec", "z": "a7ca514d4cb91994", "command": "grep '^\\s*0x' /config/raw.txt | uniq > devices.txt", "addpay": "", "append": "", "useSpawn": "false", "timer": "", "winHide": false, "oldrc": false, "name": "", "x": 580, "y": 160, "wires": [
        [],
        [],
        []
    ] }, { "id": "916ee5ba94890bd8", "type": "file in", "z": "a7ca514d4cb91994", "name": "", "filename": "/config/devices.txt", "filenameType": "str", "format": "lines", "chunk": false, "sendError": false, "encoding": "none", "allProps": false, "x": 390, "y": 460, "wires": [
        ["8834b7973bb17702"]
    ] }, { "id": "a4995a87925ea1d2", "type": "inject", "z": "a7ca514d4cb91994", "name": "Grouping (double click here)", "props": [{ "p": "groupname", "v": "PUT GROUP NAME HERE", "vt": "str" }], "repeat": "", "crontab": "", "once": false, "onceDelay": "1", "topic": "", "x": 240, "y": 400, "wires": [
        ["916ee5ba94890bd8"]
    ] }, { "id": "116d8ab12af9a612", "type": "comment", "z": "a7ca514d4cb91994", "name": "Step 4: Inject the group name in msg.groupname", "info": "", "x": 280, "y": 360, "wires": [] }, { "id": "e680756f1e6f486e", "type": "comment", "z": "a7ca514d4cb91994", "name": "Step 1: open Zigbee2MQTT web UI -> search to see only the targeted devices  -> then just select all (cmd + C) -> past it AS-IS in /config/raw.txt", "info": "", "x": 580, "y": 60, "wires": [] }, { "id": "b471d11c2490dd0b", "type": "comment", "z": "a7ca514d4cb91994", "name": "Step 2: click on File Creation", "info": "", "x": 220, "y": 120, "wires": [] }, { "id": "9b5c5145c4a8f560", "type": "comment", "z": "a7ca514d4cb91994", "name": "Step 3: Edit MQTT broker details (if needed)", "info": "", "x": 267.5, "y": 227.5, "wires": [] }, { "id": "fbaa065bcc33a66d", "type": "debug", "z": "a7ca514d4cb91994", "name": "debug", "active": false, "tosidebar": true, "console": false, "tostatus": true, "complete": "payload", "targetType": "msg", "statusVal": "", "statusType": "counter", "x": 810, "y": 500, "wires": [] }, { "id": "8fee0e3a946c1d4a", "type": "comment", "z": "a7ca514d4cb91994", "name": "Grouping devices", "info": "", "x": 180, "y": 330, "wires": [] }, { "id": "87328752fe792455", "type": "link out", "z": "a7ca514d4cb91994", "name": "link out 1", "mode": "link", "links": ["aaaf63505359d3c0"], "x": 775, "y": 460, "wires": [] }, { "id": "aaaf63505359d3c0", "type": "link in", "z": "a7ca514d4cb91994", "name": "link in 1", "links": ["87328752fe792455"], "x": 55, "y": 280, "wires": [
        ["d88cf36ac0c5f975"]
    ] }, { "id": "058c53f612152f0a", "type": "mqtt-broker", "name": "", "broker": "core-mosquitto", "port": "1883", "clientid": "", "autoConnect": true, "usetls": false, "protocolVersion": "5", "keepalive": "60", "cleansession": true, "birthTopic": "", "birthQos": "0", "birthRetain": "false", "birthPayload": "", "birthMsg": {}, "closeTopic": "", "closeQos": "0", "closeRetain": "false", "closePayload": "", "closeMsg": {}, "willTopic": "", "willQos": "0", "willRetain": "false", "willPayload": "", "willMsg": {}, "userProps": "", "sessionExpiry": "" }]