renaming.json
[{ "id": "c3197e3a0e4ae468", "type": "tab", "label": "renameing", "disabled": false, "info": "", "env": [] }, { "id": "687f81f784134e1e", "type": "inject", "z": "c3197e3a0e4ae468", "name": "", "props": [], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "", "x": 109, "y": 20, "wires": [
        ["e6823a04d84073fd"]
    ] }, { "id": "31bbbb68c6788dae", "type": "file in", "z": "c3197e3a0e4ae468", "name": "", "filename": "/config/zigbee2mqtt/devices.csv", "filenameType": "str", "format": "lines", "chunk": false, "sendError": false, "encoding": "none", "allProps": true, "x": 300, "y": 460, "wires": [
        ["a0cc99e76936699c"]
    ] }, { "id": "e6823a04d84073fd", "type": "exec", "z": "c3197e3a0e4ae468", "command": "grep -A 1 \"^\\s*  \\'0x\" /config/zigbee2mqtt/configuration.yaml | sed '/--/d' | sed \"/  \\'0x/d\" | sed 's/    friendly_name: //g' > devices.name.txt", "addpay": "", "append": "", "useSpawn": "false", "timer": "", "winHide": false, "oldrc": false, "name": "", "x": 609, "y": 140, "wires": [
        ["579fdabf628cfa97"],
        [],
        []
    ] }, { "id": "579fdabf628cfa97", "type": "exec", "z": "c3197e3a0e4ae468", "command": "grep \"^\\s*  \\'0x\" /config/zigbee2mqtt/configuration.yaml | sed \"s/  \\'0x//g\" | sed \"s/\\'://g\" | sed 's/../&:/g;s/:$//' > devices.address.txt", "addpay": "", "append": "", "useSpawn": "false", "timer": "", "winHide": false, "oldrc": false, "name": "", "x": 599, "y": 260, "wires": [
        ["9d1e403169204323"],
        [],
        []
    ] }, { "id": "9d1e403169204323", "type": "exec", "z": "c3197e3a0e4ae468", "command": "paste -d $',' devices.address.txt devices.name.txt > /config/zigbee2mqtt/devices.csv;rm devices.name.txt devices.address.txt", "addpay": "", "append": "", "useSpawn": "false", "timer": "", "winHide": false, "oldrc": false, "name": "", "x": 589, "y": 360, "wires": [
        ["31bbbb68c6788dae"],
        [],
        []
    ] }, { "id": "a0cc99e76936699c", "type": "csv", "z": "c3197e3a0e4ae468", "name": "", "sep": ",", "hdrin": "", "hdrout": "none", "multi": "one", "ret": "\\n", "temp": "", "skip": "0", "strings": true, "include_empty_strings": "", "include_null_values": "", "x": 510, "y": 460, "wires": [
        ["a0ebba33850e561c"]
    ] }, { "id": "9b6b13b6bae1e67f", "type": "debug", "z": "c3197e3a0e4ae468", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": true, "complete": "address", "targetType": "msg", "statusVal": "address", "statusType": "auto", "x": 890, "y": 460, "wires": [] }, { "id": "a0ebba33850e561c", "type": "change", "z": "c3197e3a0e4ae468", "name": "", "rules": [{ "t": "set", "p": "address", "pt": "msg", "to": "payload.col1", "tot": "msg" }, { "t": "set", "p": "name", "pt": "msg", "to": "payload.col2", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 660, "y": 460, "wires": [
        ["9b6b13b6bae1e67f", "649018745bda0716", "77a6ee4f838229f4"]
    ] }, { "id": "649018745bda0716", "type": "debug", "z": "c3197e3a0e4ae468", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": true, "complete": "name", "targetType": "msg", "statusVal": "name", "statusType": "auto", "x": 890, "y": 560, "wires": [] }, { "id": "67823af078bd15f5", "type": "function", "z": "c3197e3a0e4ae468", "name": "renaming entities", "func": "msg.payload.data.entities.forEach((aDevice) => {\n    if (aDevice.unique_id.includes(msg.address))\n    {\n        aDevice.name = msg.name;\n        msg.deviceid = aDevice.device_id;\n    }\n});\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 250, "y": 680, "wires": [
        ["7713a9e8efa946e8", "7d817ae590fc9313", "b71eba43e5747705", "957e1eb4d71b29df", "f62c0c57def47bf4"]
    ] }, { "id": "f6177d7da4dbe41f", "type": "json", "z": "c3197e3a0e4ae468", "name": "", "property": "payload", "action": "", "pretty": true, "x": 690, "y": 560, "wires": [
        ["dfe759c023d45e39", "73352d6d7216f112"]
    ] }, { "id": "7d817ae590fc9313", "type": "file", "z": "c3197e3a0e4ae468", "name": "", "filename": "/config/.storage/core.entity_registry", "filenameType": "str", "appendNewline": false, "createDir": false, "overwriteFile": "true", "encoding": "none", "x": 540, "y": 680, "wires": [
        []
    ] }, { "id": "7713a9e8efa946e8", "type": "debug", "z": "c3197e3a0e4ae468", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": true, "complete": "deviceid", "targetType": "msg", "statusVal": "payload", "statusType": "auto", "x": 470, "y": 720, "wires": [] }, { "id": "5c065c153d865bee", "type": "file in", "z": "c3197e3a0e4ae468", "name": "", "filename": "/config/.storage/core.entity_registry", "filenameType": "str", "format": "utf8", "chunk": false, "sendError": false, "encoding": "none", "allProps": false, "x": 480, "y": 560, "wires": [
        ["f6177d7da4dbe41f"]
    ] }, { "id": "dfe759c023d45e39", "type": "debug", "z": "c3197e3a0e4ae468", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": true, "complete": "payload", "targetType": "msg", "statusVal": "name", "statusType": "auto", "x": 890, "y": 700, "wires": [] }, { "id": "f62c0c57def47bf4", "type": "file in", "z": "c3197e3a0e4ae468", "name": "", "filename": "/config/.storage/core.device_registry", "filenameType": "str", "format": "utf8", "chunk": false, "sendError": false, "encoding": "none", "allProps": false, "x": 490, "y": 860, "wires": [
        ["cf815209764b5029"]
    ] }, { "id": "cf815209764b5029", "type": "json", "z": "c3197e3a0e4ae468", "name": "", "property": "payload", "action": "", "pretty": true, "x": 710, "y": 860, "wires": [
        ["6a6466f07db6cac2", "ab491bf9139e302d", "89a43c3934bd2d2f"]
    ] }, { "id": "89a43c3934bd2d2f", "type": "function", "z": "c3197e3a0e4ae468", "name": "renaming devices", "func": "msg.payload.data.devices.forEach((aDevice) => {\n    if (aDevice.id.includes(msg.deviceid))\n        aDevice.name_by_user = msg.name;\n});\nreturn msg;", "outputs": 1, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 250, "y": 920, "wires": [
        ["c780c021718c5c63", "52e545af028df365"]
    ] }, { "id": "6a6466f07db6cac2", "type": "debug", "z": "c3197e3a0e4ae468", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": true, "complete": "deviceid", "targetType": "msg", "statusVal": "payload", "statusType": "auto", "x": 870, "y": 860, "wires": [] }, { "id": "ab491bf9139e302d", "type": "debug", "z": "c3197e3a0e4ae468", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": true, "complete": "payload", "targetType": "msg", "statusVal": "name", "statusType": "auto", "x": 870, "y": 900, "wires": [] }, { "id": "c780c021718c5c63", "type": "file", "z": "c3197e3a0e4ae468", "name": "", "filename": "/config/.storage/core.device_registry", "filenameType": "str", "appendNewline": false, "createDir": false, "overwriteFile": "true", "encoding": "none", "x": 530, "y": 920, "wires": [
        []
    ] }, { "id": "52e545af028df365", "type": "debug", "z": "c3197e3a0e4ae468", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": true, "complete": "payload", "targetType": "msg", "statusVal": "name", "statusType": "auto", "x": 450, "y": 960, "wires": [] }, { "id": "b71eba43e5747705", "type": "debug", "z": "c3197e3a0e4ae468", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": true, "complete": "payload", "targetType": "msg", "statusVal": "name", "statusType": "auto", "x": 470, "y": 760, "wires": [] }, { "id": "957e1eb4d71b29df", "type": "debug", "z": "c3197e3a0e4ae468", "name": "", "active": false, "tosidebar": true, "console": false, "tostatus": true, "complete": "name", "targetType": "msg", "statusVal": "name", "statusType": "auto", "x": 470, "y": 800, "wires": [] }, { "id": "77a6ee4f838229f4", "type": "delay", "z": "c3197e3a0e4ae468", "name": "", "pauseType": "rate", "timeout": "5", "timeoutUnits": "seconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "allowrate": false, "outputs": 1, "x": 230, "y": 560, "wires": [
        ["5c065c153d865bee"]
    ] }, { "id": "b49c49d8f2e9ad8e", "type": "comment", "z": "c3197e3a0e4ae468", "name": "Step 1: Export devices.name.txt", "info": "", "x": 135, "y": 103.33332633972168, "wires": [] }, { "id": "20390d7ef22545f4", "type": "comment", "z": "c3197e3a0e4ae468", "name": "Step 2: Export devices.address.txt", "info": "", "x": 145, "y": 220.0000238418579, "wires": [] }, { "id": "bf623fdcfac77716", "type": "comment", "z": "c3197e3a0e4ae468", "name": "Step 3: merge both files", "info": "", "x": 105, "y": 323.3332939147949, "wires": [] }, { "id": "60ab67404d6c43e8", "type": "comment", "z": "c3197e3a0e4ae468", "name": "Step 4: CSV Parsing and Splitting ", "info": "", "x": 135, "y": 428.3333053588867, "wires": [] }, { "id": "6869c59c1f0274a8", "type": "comment", "z": "c3197e3a0e4ae468", "name": "Step 5: CSV Parsing and Splitting ", "info": "", "x": 130, "y": 520, "wires": [] }, { "id": "8c8086f3865cb0e9", "type": "comment", "z": "c3197e3a0e4ae468", "name": "Step 6: Renaming entities", "info": "", "x": 115, "y": 650.0000171661377, "wires": [] }, { "id": "d25a1bcb475a7cd2", "type": "comment", "z": "c3197e3a0e4ae468", "name": "Step 7: Renaming entities", "info": "", "x": 115, "y": 888.8888702392578, "wires": [] }, { "id": "73352d6d7216f112", "type": "split", "z": "c3197e3a0e4ae468", "name": "", "splt": "\\n", "spltType": "str", "arraySplt": 1, "arraySpltType": "len", "stream": false, "addname": "", "x": 270, "y": 620, "wires": [
        ["67823af078bd15f5"]
    ] }]